body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.header {
    width: 100%;
    height: 700px;
    background-color: #EEEFF1;

}

.header-container {
    width: 1100px;
    margin: 0 auto;
}

ul li {
    display: inline-block;
    margin-right: 42px;
    padding-top: 79px;
    font-weight: 500;
    font-size: 16px;
}

h1 {
    font-weight: 500;
    font-size: 48px;
    margin-top: 151px;
}

.header-container p {
    width: 540px;
    height: 67px;
    font-weight: 400;
    margin-top: 60px;
    color: #727272;
    line-height: 26px;
}

.header-container a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 225px;
    height: 65px;
    background-color: #34547A;
    text-align: center;
    line-height: 65px;
    margin-top: 65px;

}

.about {
    width: 100%;
    height: 359px;
}

.about-container {
    width: 1100px;
    margin: 0 auto;
}

.about-container h2 {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    margin-top: 112px;


}

.about-container p {
    width: 540px;
    margin: 0 auto;
    text-align: center;
    color: #727272;
    line-height: 26px;
    font-weight: 400;
    margin-top: 50px;

}

.works {
    width: 100%;
    height: 250px;
    background-color: #34547A;

}

.icon {
    background-image: url('icon.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    color: #fff;
    background-size: 50px;
    display: inline-block;
    padding-left: 60px;
    margin-right: 53px;

}

.works-content {
    text-align: center;
    padding-top: 125px;
    line-height: 25px;

}

strong {
    font-size: 21px;
    font-weight: 500;

}

.video {
    width: 100%;
    height: 1004px;
    background-color: #EEEFF1;
}

.video-container {
    width: 1110px;
    margin: 0 auto;
}

.video-container h3 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;

}

.video-container p {
    color: #727272;
    width: 540px;
    height: 67px;
    line-height: 26px;
    margin: 50px auto 0;
}

iframe {
    width: 1110px;
    height: 600px;
    margin-top: 57px;
}

.footer {
    width: 100%;
    height: 151px;
    background-color: #34547A;
    color: #fff;

}

.footer-content p {
    font-weight: 400;
    font-size: 13px;
}

.footer-content h3 {
    font-weight: 500;
    font-size: 21px;
    padding-top: 59px;
    margin-bottom: 20px;
}

.footer-content {
    width: 1110px;
    margin: 0 auto;
}